*.o
*.so
nbproject
.dep.inc
Makefile-build-src.mk
config.log
config.status
src/Makefile
src/config.h
src/config.h.in~
src/gnu_regex.c
src/gnu_regex.h
src/lex.yy.c
src/modules/Makefile
src/modules/Makefile.in.orig
src/modules/oopsctl
src/oops
src/oops.cfg
src/rwlock.c
src/rwlock.h
src/version.h
src/y.tab.c
src/y.tab.h
